# Python
__pycache__/
*.py[cod]
*.so

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# Virtual Environment
venv/
.env

# Logs
*.log

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Config files (be careful with sensitive data)
config.yaml

# Ignore compiled Python files
vendor/**/*.pyc

# Ignore __pycache__ directories
vendor/**/__pycache__/

# Ignore any other unnecessary files or directories
vendor/**/*.log
vendor/**/*.tmp